
.flex-container {
  display: flex;
  height: 100vh;

}

.left-part {
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: slategray;
  height: 100vh;

}
.left-part h1 a{
  color: yellow;
  font-size: 24px;
  font-weight: bold;
}

.right-part {
  display: flex;
  justify-content: center; 
  width: 60vw;
}
input{
  height: 30px;
  border: 2px solid black;
}
@media screen and (max-width:768px) {
.left-part{
  background-color: blue;
  display: none;
}
.right-part{
  width: 100vw;
}
}
